@import '_vars';
@import 'modules/reset';
@import 'modules/_navbar';
@import 'modules/_reel';
@import 'modules/_works';
@import 'modules/_lightbox';
@import 'modules/_about';
@import 'modules/_contact';
@import 'modules/_fixedtext';

body {
    background-color: $body-bg;
}

main {
    width: 80%;
    padding-top: 25vh;
    margin: 0 auto;
}

h1, h2, h3 { font-family: $Poppins; color: $yellow; }

h6 {
    font-family: $Karla;
    color: $yellow;
    line-height: 2.5vh;
    margin-bottom: 2vh;
}

.section-title { 
    color: $yellow;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 45px;
}

.panel { min-height: 80vh; margin-top: 75px; }

.hidden { display: none; }

/*.panel:nth-child(odd) {
    background-color: salmon;
    color: white;
}*/

#to-top { position: fixed; bottom: 10px; right: 10px; display: none; }


// TABLET //
@media screen and (min-width: 768px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 38px;
    }
    
    h6 {
        margin-bottom: 0.8vh;
    }
}

@import 'modules/_footer'
