<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css stuff -->
    <!-- link to reset -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Karla:700|Poppins:700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>Mikka Azores</title>
</head>

<body>
    <h1 class="hidden">Mikka Azores portfolio</h1>   
    <nav>
        <h2 class="hidden">Navigation menu</h2>
        <div class="logo">
            <img src="images/logo.svg" alt="Mikka Azores logo">
        </div>

        <div class="mobile">
            <img src="images/burger.svg" alt="Burger menu">
        </div>
    </nav>

    <main>
        {{{ body }}}
    </main>

    <footer>
        <div class="logoSection">
            <div class="logo">
                <img src="images/logo.svg" alt="Mikka Azores logo">
            </div>
        </div>

        <div class="contactSection">
            <div class="contactSectionCont">
                <div class="contactCol1">
                    <h2>Mikka Azores</h2>
                    <h5>Multimedia Designer and Developer</h5>
                </div>

                <div class="contactCol2">
                    <div class="email">
                        <img src="images/footer-email.svg" alt="email icon"> <h6>mikkaazores@gmail.com</h6>
                    </div>
                    
                    <div class="call">
                        <img src="images/footer-call.svg" alt="call icon"> <h6>437 987 1819</h6>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--<a id="to-top" href="#" class="nav-item">back to top</a>-->

    <script type="module" src="js/main.js"></script>

    <!-- templates -> these don't get rendered immediately -->
    <template id="user-template">
        <!-- you can put all kinds of markup here - semantic tagging, etc -->
        <div class="user-panel">
            <div class="user-panel-header">
                <img class="u-avatar"></img>
                <h1 class="u-name"></h1>
            </div>

            <button class="user-button">More Details</button>
        </div>
    </template>
    <!-- end templates-->
</body>

</html>