<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- css stuff -->
    <!-- link to reset -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Karla:700|Poppins:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>Mikka Azores</title>
</head>

<body>
    <h1 class="hidden">Mikka Azores portfolio</h1>   
    <nav>
        <h2 class="hidden">Navigation menu</h2>
        <div class="logo">
            <a href="#">
                <img src="images/logo.svg" alt="Mikka Azores logo">
            </a>
        </div>

        <div class="mobile">
            <img src="images/burger.svg" alt="Burger menu">
        </div>

        <div class="desktop-nav">
            <ul>
                <li><a href="#reel" id="scroll-reel">reel</a></li>
                <li><a href="#works" id="scroll-works">works</a></li>
                <li><a href="#about" id="scroll-about">about</a></li>
                <li><a href="#contact" id="scroll-contact">contact</a></li>
            </ul>
        </div>
    </nav>

    <section class="fixedtextCont">
        <h1 class="hidden">Name and Title</h1>
        <div class="name fixed-text"><h4>Mikka Azores</h4></div>
        <div class="title fixed-text"><h4>Designer/Developer</h4></div>
    </section>

    <main>
        {{{ body }}}

    <section id="about" class="panel">
        <h1 class="section-title">
            About
        </h1>

        <div class="aboutCont">
            <h3>Hi, I’m <span class="red">Mikka Azores</span> and I create <span class="red">human-centered</span> design solutions that have <span class="red">beauty</span>, <span class="red">brains</span>,  and <span class="red">substance</span>.</h3>
            <button class="resume"><a href="https://drive.google.com/file/d/1H4qZoRjBjygiMyGGHoFXcfoZqeI3M2ed/view?usp=sharing" target="_blank">
                Download resume
            </a></button>
        </div>
    </section>

    <section id="contact" class="panel">
        <h1 class="section-title">
            Contact
        </h1>

        <div class="contactCont">
            <section class="contactFormContainer">
                <form action="data/contact.php" method="post">
                    <input id="name" type="text" name="name" placeholder="Name">
                    <input id="email" type="email" name="email" placeholder="E-mail">
                    <textarea id="message" name="message" placeholder="Message"></textarea>
                    
                    <input type="submit" value="Submit" class="button">
                </form>
            </section>
        </div>
    </section>
</main>

    <section class="burger-menu">
        <div class="burger-controls">
            <div class="logo">
                <a href="index.html"><img src="images/logo.svg" alt="Mikka Azores logo"></a>
            </div>
            <span class="close">x</span>
        </div>
        <ul>
            <li class="burger-option"><a href="#reel">reel</a></li>
            <li class="burger-option"><a href="#works">works</a></li>
            <li class="burger-option"><a href="#about">about</a></li>
            <li class="burger-option"><a href="#contact">contact</a></li>
        </ul>
    </section>

    <!-- this will be filled in on the client side when we render our AJAX data -->
    <section class="lightbox">
        <span class="close">x</span>
        <div class="lb-Container">
            <div class="feature-hero">
            </div>

            <div class="description">
            </div>

            <div class="port-image-1 portImage">
            </div>

            <div class="port-image-2 portImage">
            </div>

            <div class="port-image-3 portImage">
            </div>

            <div class="port-image-4 portImage">
            </div>


            <!--<img src="" alt="larger bio image">-->
        </div>
    </section>


    <footer>
        <div class="logoSection">
            <div class="logo">
                <img src="images/logo.svg" alt="Mikka Azores logo">
            </div>
        </div>

        <div class="contactSection">
            <div class="contactSectionCont">
                <div class="contactCol1">
                    <h2>Mikka Azores</h2>
                    <h5>Multimedia Designer and Developer</h5>
                </div>

                <div class="contactCol2">
                    <div class="email">
                        <img src="images/footer-email.svg" alt="email icon"> <h6>mikkaazores@gmail.com</h6>
                    </div>
                    
                    <div class="call">
                        <img src="images/footer-call.svg" alt="call icon"> <h6>437 987 1819</h6>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--<a id="to-top" href="#" class="nav-item">back to top</a>-->

    <script type="module" src="js/main.js"></script>
    <!--<script type="module">
        import { scrollTo } from '../dist/scroll.min.js';
        const scrollAbout = document.getElementById("scroll-about");
        const about = document.querySelector("#about");
        //const pink = document.querySelector(".pink");

        scrollAbout.onclick = function () {
            scrollTo(about, {duration: 1000}).then(function () {
            console.log('finished scrolling to green box!');
            });
        };
    </script>
    -->

    <!-- templates -> these don't get rendered immediately -->
    <template id="user-template">
        <!-- you can put all kinds of markup here - semantic tagging, etc -->
        <div class="user-panel">
            <div class="user-panel-header">
                <img class="u-avatar"></img>
                <h1 class="u-name"></h1>
            </div>

            <button class="user-button">More Details</button>
        </div>
    </template>
    <!-- end templates-->
</body>

</html>