#about {
    width: 100%;
    margin: 0 auto;
    min-height: 30vh;

    .aboutCont {
        width: 100%;
        margin: 0 auto;
        padding: 60px 30px 50px 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-color: $blue;
        text-align: center;

        h3 {
            text-align: center;
            line-height: 1.3;
        }

        .red {
            color: $red!important;
        }

        button {
            width: 70%;
            margin-top: 30px;
            text-align: center;
            background-color: $yellow;
            padding: 5px 30px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-family: $Karla;
            color: $navy;
            font-size: 18px;
        }
    }
}

// TABLET //
@media screen and (min-width: 768px) {
    #about {
        .aboutCont {
            padding: 100px 100px 90px 100px;

            button {
                width: 50%;
            }
        }
    }
}