footer { 
    color: $red; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 3;
    position: relative;

    .logoSection {
        background-color: $navy;
        width: 100%;
        padding: 100px 70px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    h2 {
        color: $red!important;
        font-size: 6vh;
        margin-bottom: 6px;
    }

    h5 {
        color: $red;
        font-family: $Karla;
        font-size: 4vh;
        line-height: 1.2;
    }

    h6 {
        color: $red;
        font-family: $Karla;
        font-size: 3vh;
    }

    .contactSection {
        background-color: $blue;
        width: 100%;
        padding: 80px 40px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .contactCol2 {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
        
            img {
                margin-right: 10px; 
            }

            .email {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10px;
            }

            .call {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }
    }
}

// TABLET //
@media screen and (min-width: 768px) {
    footer {
        flex-wrap: nowrap;

        .logoSection {
            flex: 1 2 auto;
            justify-content: center;
        }

        h2 {
            font-size: 4vh;
            margin-bottom: 6px;
        }
    
        h5 {
            font-size: 3vh;
            line-height: 1;
        }
    
        h6 {
            font-size: 2vh;
            color: $red;
            margin-bottom: unset;
        }

        .contactSection {
            flex: 2 1 auto;
            padding: 60px 60px 60px 40px;
            justify-content: center;
        }
    }
}

// DESKTOP //
@media screen and (min-width: 1280px) {
    footer {
        .logoSection {
            padding-left: 120px;
        }

        .contactSection {
            padding: 110px 130px 110px 110px;

            .contactSectionCont {
                display: flex;
                flex-direction: row;
                align-items: flex-end;

                .contactCol1 {
                    width: 250px;
                    margin-right: 50px;
                }

                .contactCol2 {
                    img {
                        padding-top: 10px;
                        width: 40px;
                    }
                }
            }
        }

        h2 {
            font-size: 5vh;
            letter-spacing: 1px;
            margin-bottom: 10px;
        }
    
        h5 {
            font-size: 24px;
            line-height: 1.2;
        }
    
        h6 {
            font-size: 24px;
        }
    }
}