.overflow {
    overflow: hidden;
}

.main-width {
    width: 100%!important;
}

.lightbox { 
    display: none;
    //display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 5000;
    padding: 20px;
    overflow: auto;
    background-color: $red;

    .lb-Container {
        width: 100%;
        padding-bottom: 3vh;
    }

    .feature-hero {
        margin-bottom: 3vh;
    }

    video {
        width: 100%;
        margin: 0 auto;
    }

    .description {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 5vh;

        h2 {
            color: $blue;
        }

        p {
            font-family: $Karla;
            color: $blue;
            line-height: 3.5vh;
        }
    }
    
    .portImage {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 3vh; 
    }

    img { max-width: 100%; }

    .close {    
        right: 10px;
        top: 10px;
        cursor: pointer;
        font-size: 2em;
        position: fixed;
        padding: 2px 14px 5px;
        font-family: $Poppins;
        color: $blue;
        z-index: 5000;
    }
}

.show-lb { display: flex !important; }

.u-social {
    li { 
        display: inline-block;
        padding: 10px;
    }
}