.overflow {
    overflow: hidden;
}

.main-width {
    width: 100%!important;
}

.lightbox { 
    display: none;
    flex-direction: column;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 5000;
    padding: 20px;
    overflow: auto;
    background-color: $red;

    .lb-Container {
        width: 100%;
        padding-bottom: 3vh;
        text-align: center;
    }

    .feature-hero {
        margin-bottom: 3vh;
    }

    video {
        width: 100%;
        margin: 0 auto;
    }

    .description {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 5vh;

        h2 {
            color: $blue;
        }

        p {
            font-family: $Karla;
            color: $blue;
            line-height: 3.5vh;
        }
    }
    
    .portImage {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 3vh; 
    }

    img { max-width: 100%; }

    .close {    
        right: 10px;
        top: 10px;
        cursor: pointer;
        font-size: 2em;
        position: fixed;
        padding: 2px 14px 5px;
        font-family: $Poppins;
        font-weight: 700;
        color: $blue;
        z-index: 5000;
    }
}

.show-lb { display: flex !important; }

// TABLET //
@media screen and (min-width: 768px) {
    .lightbox {
        padding: 50px;

        .lb-Container {
            padding-bottom: 5vh;
        }

        .description {

            h6 {
                font-size: 1em;
            }

            p {
                line-height: 2vh;
            }
        }
    }
}

// DESKTOP //
@media screen and (min-width: 1280px) {
    .lightbox {
        padding: 100px;

        .lb-Container {
            padding-bottom: 20vh;
        }

        .description {
            width: 50%;
            text-align: left;
            padding-top: 70px;
            padding-bottom: 70px;

            p {
                line-height: 4vh;
                font-size: 20px;
            }
        }

        .portImage {
            margin-bottom: 8vh;
        }
    }

}