.portfolio { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .port-item {
        flex: 0 1 200px;
        position: relative;
        margin-bottom: 140px;

        .feature-image { max-width: 70%; flex: 1 1 auto; }

        .port-details { 
            background-color: $red; 
            width: 80%;
            height: auto;
            position: absolute;
            right: 0;
            bottom: -100px;
            padding: 20px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            h2 {
                color: $blue;
                line-height: 1.2;
            }

            h6 {
                font-family: $Karla;
                font-size: 16px;
                color: $yellow;
                line-height: 1.4;
            }
        }
    }

    .port-item:nth-child(even) {
        .feature-image { max-width: 70%; flex: 1 1 auto; float: right; }

        .port-details { 
            background-color: $blue; 
            width: 80%;
            height: auto;
            position: absolute;
            left: 0;
            bottom: -100px;
            padding: 20px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

            h2 {
                color: $red;
                line-height: 1.2;
            }
        }
    }
}

@media screen and (min-width: 435px) {
    .portfolio {
        .port-item {
            margin-bottom: 150px;

            .port-details {
                bottom: -60px;
            }
        }

        .port-item::nth-child(even) {
            margin-bottom: 200px;
        }
    }
}

// TABLET //
@media screen and (min-width: 768px) {
    .portfolio {
        .port-item {
            .port-details { 
                width: 40%;
                bottom: 150px;
                padding: 30px;
            }
        }

        .port-item:nth-child(even) {
            .port-details {
                width: 40%;
                bottom: -50px;
                padding: 30px;
            }
        }
    }
}

@media screen and (min-width: 820px) {
   .portfolio {
       .port-item {
           margin-bottom: 250px;
       }

       .port-item:nth-child(even) {
            margin-bottom: 250px;
       }
   } 
}

@media screen and (min-width: 930px) {
    .portfolio {
        .port-item {
            .port-details { 
                bottom: 170px;
            }
        }

        .port-item:nth-child(even) {
            .port-details {
                bottom: -100px;
            }
        }
    }
}

// DESKTOP //
@media screen and (min-width: 1000px) {
    .portfolio {
        width: 75%;
        margin: 0 auto;

        .port-item {
            margin-bottom: 100px;

            .feature-image {
                max-width: 65%;
                flex: 2 1 auto;
                margin-bottom: 90px;
            }

            .port-details {
                bottom: 220px;
                padding: 30px;
            }
        }

        .port-item:nth-child(even) {
            margin-bottom: 100px;
            .port-details {
                bottom: 0;
            }
        }
    }
}

@media screen and (min-width: 1300px) {
    .portfolio {
        .port-item, .port-item:nth-child(even) {
            margin-bottom: 250px; 

            .feature-image {
                width: 100%;
                flex: 3 1 auto;
            }
        }

        .port-item:nth-child(even) {
            .port-details {
                bottom: -100px;
            }
        }

        
    }
}

@media screen and (min-width: 1500px) {
    .portfolio {
        .port-item {
            margin-bottom: 300px;
        }

        .port-item:nth-child(even) {
            margin-bottom: 300px;
        }
    }
}